.form_style input{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}
.form_style select{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}
.form_style input:focus{
    outline: none;
}
.form_style select:focus{
    outline: none;
}